---
import { imageConfig } from "astro:assets"

// const response = await fetch('http://localhost:3001/api/people')
const response = await fetch('http://localhost:3000/api/users')
console.log("before sending response.json()")
const data = await response.json()
let elephantBase64 = "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iODAwcHgiIHdpZHRoPSI4MDBweCIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDUwNS4wODcgNTA1LjA4NyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBkPSJNNDg4LjkwOSw0MTguMzkyYy0zNC44NC0yNy4yMTktMy4yNjYtOTMuNjMyLTMuMjY2LTkzLjYzMmM2My4xNDctMTYxLjEzNC00Ni4xMDgtMjQyLjMwNy02NC43ODgtMjUyLjg4Nw0KCWMtMzguMDMzLTIxLjU0MS0xMjguNDk3LTQyLjY0OC0xNzQuMTY2LDE1LjMxOWMtMTIuOTE2LDE2LjM5NC04LjU5OSwzNi43NTQtMi42NTQsNTAuOTg0DQoJYzE1LjMwMiwzNi42MTgsNTYuNDM2LDY5LjU0NCw5MS42OTMsNzMuMzg4YzEwLjA1NCwxLjEyMywxNy4zNzctMS4xODIsMjIuMzM2LTYuOTU4YzE1Ljc2MS0xOC4zNDcsNy40NTEtNjYuNjE4LDIuOTA5LTgzLjY3Mg0KCWMtMS4yMzMtNC42NDQsMS41MzEtOS40MTYsNi4xODQtMTAuNjU4YzEuMzQxLTAuMzU2LDIuNjY0LTAuMywzLjkzOC0wLjA0MWMzLjE0MiwwLjYzNyw1Ljg0MiwyLjkwOSw2LjcyLDYuMjI1DQoJYzEuOTA1LDcuMTc5LDE3Ljk1Niw3MC45OTgtNi41MzIsOTkuNTAxYy01LjQwMSw2LjI4Ni0xNS4wMDQsMTMuMjg2LTMwLjk3LDEzLjI4NmMtMi4wNSwwLTQuMjEtMC4xMTktNi40NzMtMC4zNjYNCgljLTQxLjU5My00LjU0Mi04OC4wOTUtNDEuNDMyLTEwNS44OC04My45OTVjLTQuNDc1LTEwLjcwOC02LjcwNy0yMS4wNjUtNi45NDgtMzAuODM1Yy05OS43MjgsMC0yMTMuNTc1LDU1LjU5Ni0yMjAuOTkxLDE1NS41OTcNCgljLTAuMjM4LDMuMjA4LDEuNzM1LDYuMTY3LDQuNzg5LDcuMTc5YzMuMDU0LDEuMDIxLDYuNDEzLTAuMTY5LDguMTQtMi44ODJjNi4xMjQtOS42MTYsMTMuNzUtMjAuMDI3LDIxLjMyNS0yNi41ODUNCgljMS4wODcsMTUuNzQ5LDUuODcxLDMwLjc5NiwxNC4xMzYsNDQuNTMyYzE2LjU1MiwyNy41MDgsMjUuMzksNTkuMDk4LDI1LjM5LDkxLjE5OGwwLjE1OCw1OS4yNTMNCgljMC44NDMsNy4yNjEsMTcuOTk1LDEzLjA2NSwzOS4xODEsMTMuMDY1YzIxLjE5NCwwLDM4LjM0Ni01LjgwNCwzOS4xOS0xMy4wNjVsMC4xNTgtMzguNDU1YzAtMTAuMDk2LDQuMjEtMTkuNzQyLDExLjYxLTI2LjYxNg0KCWM3LjQtNi44NzMsMTcuMzE2LTkuNjI4LDI3LjQxMy05LjYyOGM2LjI2MywwLDE5LjA3OSwwLjAwOSwxOS44MjgsMGM5LjY4OC0wLjEwMSwxOS4wMTksNC4zMzcsMjUuODk5LDExLjE1OQ0KCWM2Ljg5LDYuODIyLDEwLjc2MSwxNi4xMSwxMC43NjEsMjUuNzk5bDAuMTU4LDM3Ljc0YzAuODQzLDcuMjYxLDE3Ljk5NCwxMy4wNjUsMzkuMTgxLDEzLjA2NWMyMS4xOTQsMCwzOC4zNDYtNS44MDQsMzkuMTktMTMuMDY1DQoJbDAuMTU4LTMzLjIxNWMwLTk4LjU5OSw3Mi4yNTQtMTQyLjU5OCw4MC44MzktMTQ3LjgxNGM0Mi42MDYtMjUuODg2LDIzLjY4LDUyLjU1NywyMy42OCw1Mi41NTcNCgljLTI4LjMwNyw4OC4xODgsMzcuMDE3LDEyOC40NzIsMzcuMDE3LDEyOC40NzJsMC4yOTMtMC4zMzljMC4yMDQsMC4yMDgsMC4yNjIsMC41NDQsMC40OTgsMC43MjINCgljNC4xODQsMy4xNTUsMTEuNzk5LDAuMTI4LDE2Ljk5NS02Ljc3OWM0Ljc5Mi02LjM0LDUuNjY4LTEzLjU2NCwyLjU2OS0xNy4xNzFMNDg4LjkwOSw0MTguMzkyeiIvPg0KPC9zdmc+"
let buildimage = '"data:image/svg+xml;base64, ' + elephantBase64 + '" ' +  'width="80px"'

let imageArrayCat = [60,63,120,109,108,32,118,101,114,115,105,111,110,61,34,49,46,48,34,32,101,110,99,111,100,105,110,103,61,34,105,115,111,45,56,56,53,57,45,49,34,63,62,13,10,60,33,45,45,32,85,112,108,111,97,100,101,100,32,116,111,58,32,83,86,71,32,82,101,112,111,44,32,119,119,119,46,115,118,103,114,101,112,111,46,99,111,109,44,32,71,101,110,101,114,97,116,111,114,58,32,83,86,71,32,82,101,112,111,32,77,105,120,101,114,32,84,111,111,108,115,32,45,45,62,13,10,60,33,68,79,67,84,89,80,69,32,115,118,103,32,80,85,66,76,73,67,32,34,45,47,47,87,51,67,47,47,68,84,68,32,83,86,71,32,49,46,49,47,47,69,78,34,32,34,104,116,116,112,58,47,47,119,119,119,46,119,51,46,111,114,103,47,71,114,97,112,104,105,99,115,47,83,86,71,47,49,46,49,47,68,84,68,47,115,118,103,49,49,46,100,116,100,34,62,13,10,60,115,118,103,32,102,105,108,108,61,34,35,48,48,48,48,48,48,34,32,104,101,105,103,104,116,61,34,56,48,48,112,120,34,32,119,105,100,116,104,61,34,56,48,48,112,120,34,32,118,101,114,115,105,111,110,61,34,49,46,49,34,32,105,100,61,34,67,97,112,97,95,49,34,32,120,109,108,110,115,61,34,104,116,116,112,58,47,47,119,119,119,46,119,51,46,111,114,103,47,50,48,48,48,47,115,118,103,34,32,120,109,108,110,115,58,120,108,105,110,107,61,34,104,116,116,112,58,47,47,119,119,119,46,119,51,46,111,114,103,47,49,57,57,57,47,120,108,105,110,107,34,32,13,10,9,32,118,105,101,119,66,111,120,61,34,48,32,48,32,52,57,54,46,51,57,52,32,52,57,54,46,51,57,52,34,32,120,109,108,58,115,112,97,99,101,61,34,112,114,101,115,101,114,118,101,34,62,13,10,60,112,97,116,104,32,100,61,34,77,51,57,57,46,54,56,54,44,49,48,56,46,52,56,99,45,48,46,57,53,52,45,51,46,48,57,52,45,51,46,50,56,45,53,46,52,53,54,45,54,46,50,50,45,54,46,50,55,56,99,45,49,48,46,49,48,50,45,50,46,56,53,52,45,49,56,46,53,54,54,45,49,48,46,49,54,50,45,50,51,46,50,50,50,45,50,48,46,48,56,51,13,10,9,99,45,48,46,55,57,52,45,49,46,54,55,52,45,49,46,54,53,45,51,46,50,57,45,50,46,54,48,49,45,52,46,56,54,54,99,45,52,46,48,52,49,45,54,46,54,56,57,45,49,48,46,48,51,55,45,49,49,46,55,51,49,45,49,55,46,48,54,52,45,49,52,46,52,50,99,45,54,46,53,50,57,45,50,46,52,57,55,45,49,49,46,48,54,56,45,54,46,50,55,56,45,49,53,46,50,56,53,45,57,46,57,55,54,13,10,9,99,45,48,46,52,53,51,45,56,46,56,54,51,45,50,46,50,57,52,45,51,51,46,52,49,53,45,57,46,51,50,50,45,53,48,46,50,49,50,99,45,48,46,53,53,45,49,46,51,49,55,45,49,46,55,49,51,45,50,46,50,55,45,51,46,48,56,54,45,50,46,53,53,53,99,45,49,46,52,48,56,45,48,46,50,57,49,45,50,46,56,52,54,44,48,46,49,51,57,45,51,46,56,55,57,44,49,46,49,50,52,13,10,9,99,45,54,46,56,51,54,44,54,46,54,55,50,45,49,57,46,55,57,51,44,50,50,46,49,50,50,45,50,53,46,56,51,56,44,52,54,46,54,52,57,99,45,50,54,46,54,57,49,44,49,50,46,50,48,55,45,51,52,46,54,57,44,51,56,46,50,51,55,45,51,52,46,54,57,44,53,54,46,50,51,57,99,48,44,53,46,53,57,44,49,46,49,54,44,49,48,46,56,56,50,44,50,46,56,50,56,44,49,53,46,57,54,51,13,10,9,99,45,49,51,46,51,51,50,44,54,46,50,50,45,50,54,46,48,56,50,44,49,57,46,52,54,45,51,56,46,48,56,52,44,52,48,46,54,54,57,108,45,54,49,46,54,54,50,44,55,52,46,49,55,53,108,48,46,48,51,51,44,48,46,48,49,53,99,45,50,51,46,51,56,49,44,50,49,46,51,55,50,45,51,57,46,48,50,49,44,53,57,46,54,50,51,45,51,57,46,48,50,49,44,49,48,51,46,52,48,52,13,10,9,99,48,44,57,46,49,51,57,44,48,46,56,49,44,49,55,46,52,54,54,44,50,46,48,56,51,44,50,53,46,50,56,99,45,48,46,50,55,50,44,48,46,51,56,54,45,48,46,54,57,44,48,46,54,49,53,45,48,46,57,51,54,44,49,46,48,51,52,99,45,50,48,46,49,52,54,44,51,51,46,51,50,45,49,55,46,56,56,54,44,50,57,46,54,52,55,45,50,50,46,54,49,57,44,51,57,46,56,48,54,13,10,9,99,45,57,46,52,52,44,50,53,46,50,52,49,45,52,46,49,55,53,44,53,49,46,57,57,56,44,49,48,46,53,56,51,44,54,55,46,51,52,99,50,48,46,49,53,44,50,48,46,57,52,57,44,52,49,46,55,56,53,44,50,53,46,48,51,49,44,52,57,46,54,51,56,44,50,52,46,53,54,49,99,49,53,46,57,57,56,44,48,46,50,55,49,44,49,51,46,48,48,57,44,48,46,50,55,51,44,57,56,46,49,52,51,45,50,56,46,52,50,50,13,10,9,99,53,46,54,51,55,45,49,46,57,44,56,46,56,53,52,45,55,46,57,48,49,44,55,46,50,51,54,45,49,51,46,54,56,50,99,45,49,46,54,52,53,45,53,46,57,55,53,45,55,46,56,54,57,45,57,46,52,54,54,45,49,51,46,56,52,52,45,55,46,55,57,53,99,45,56,53,46,55,57,51,44,50,52,46,48,52,53,45,56,51,46,51,50,54,44,50,52,46,55,51,56,45,57,55,46,50,55,51,44,50,49,46,48,53,53,13,10,9,99,45,49,46,49,57,55,45,48,46,52,49,49,45,52,53,46,53,55,56,45,50,48,46,51,57,57,45,49,53,46,55,53,53,45,54,52,46,49,51,99,49,52,46,51,44,50,49,46,49,56,51,44,51,54,46,49,57,54,44,51,49,46,56,57,52,44,54,49,46,49,52,44,51,50,46,55,54,56,118,48,46,50,57,104,57,48,46,50,57,53,99,55,46,49,50,52,44,48,44,49,50,46,57,50,52,45,52,46,55,54,44,49,50,46,57,50,52,45,49,48,46,54,51,49,13,10,9,99,48,45,57,46,51,50,52,45,53,46,48,55,50,45,49,56,46,49,54,50,45,49,51,46,56,49,53,45,50,52,46,48,54,56,99,45,52,46,48,54,57,45,50,46,55,54,51,45,56,46,55,56,56,45,52,46,54,55,55,45,49,51,46,55,52,57,45,53,46,56,51,53,99,54,46,51,56,51,45,49,49,46,49,48,56,44,49,48,46,55,57,53,45,50,52,46,54,44,49,50,46,54,51,55,45,52,48,46,53,51,108,50,52,46,53,53,57,44,55,54,46,55,52,49,13,10,9,99,48,46,56,56,56,44,50,46,53,56,56,44,51,46,51,51,44,52,46,51,50,52,44,54,46,48,54,50,44,52,46,51,50,52,104,52,50,46,48,53,56,99,56,46,50,48,55,44,48,44,49,52,46,56,54,53,45,52,46,55,54,56,44,49,52,46,56,54,53,45,49,48,46,54,50,52,99,48,45,57,46,51,51,50,45,53,46,56,51,45,49,56,46,49,53,53,45,49,53,46,56,57,56,45,50,52,46,48,55,54,13,10,9,99,45,53,46,57,51,45,51,46,52,57,56,45,49,51,46,48,48,55,45,53,46,53,57,49,45,50,48,46,52,50,54,45,54,46,52,56,57,108,45,49,48,46,54,52,53,45,51,57,46,52,57,108,45,53,46,49,55,50,45,56,55,46,54,51,52,99,50,48,46,51,53,57,45,50,49,46,52,52,49,44,51,51,46,48,50,52,45,52,53,46,53,51,50,44,50,52,46,53,52,53,45,57,48,46,56,52,56,13,10,9,99,45,51,46,57,52,53,45,50,48,46,57,55,49,44,49,48,46,54,51,49,45,51,48,46,54,51,52,44,49,51,46,51,52,54,45,51,50,46,50,52,51,99,50,46,52,53,54,45,48,46,56,52,56,44,52,46,57,49,45,49,46,55,56,55,44,55,46,51,54,55,45,50,46,53,50,57,99,51,46,56,49,52,45,49,46,49,53,52,44,55,46,54,54,50,45,50,46,55,57,53,44,49,49,46,51,50,53,45,53,46,50,56,49,13,10,9,99,50,46,50,49,56,45,49,46,53,49,52,44,49,48,46,49,51,50,45,55,46,50,50,53,44,49,54,46,55,57,45,49,57,46,56,48,51,67,51,57,57,46,53,50,49,44,49,49,52,46,53,57,53,44,52,48,48,46,54,48,54,44,49,49,49,46,53,53,57,44,51,57,57,46,54,56,54,44,49,48,56,46,52,56,122,34,47,62,13,10,60,47,115,118,103,62];
let base64String = Buffer.from(imageArrayCat, 'binary').toString('base64');
let blob = new Blob(imageArrayCat, {type:"image/svg+xml"})
console.log(blob)
let imageSrc = URL.createObjectURL(blob)
console.log(imageSrc)
// https://stackoverflow.com/questions/75568471/how-can-i-send-several-images-through-the-response-object-to-my-front-end-using
---
<div>
    <h1>GET all records</h1>
    <form action="http://localhost:3000/api/users" method="get">
      <div class="mt-6 flex items-center justify-end gap-x-6">

        <button type="submit" value="Submit using GET"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">GET
          ALL /api/users</button>


      </div>
    </form>
  </div>

  <div>
    <h1>GET one record</h1>
    <form action="http://localhost:3000/api/users/67e2d082eeac3c38089743c4" method="get">
      <div class="mt-6 flex items-center justify-end gap-x-6">

        <button type="submit" value="Submit using GET"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">GET
          one /api/users/67e2d082eeac3c38089743c4</button>
      </div>
    </form>
  </div>
<br> <br> <hr>
<h1>This is the output using astro as middleware</h1>
<img src="" alt="" srcset="">
	<ul class="bg-gray-300">
	  <li id="title">
			  .......ID.................... |......... NAME .....  | ....    Email.......... | ...  password.................
		  </li>
	  {
		  
		data.map((person) => (
      
		  <li id={person.name}>
			<span class=" text-white">{person._id}  </span>{person.name}  |  {person.email}  ||<img src={`data:${person.photo.contentType};base64, ${Buffer.from(person.photo.data.data, 'binary').toString('base64')}`} alt={person.photo.contentType} width="80px"/>
      </li>
// PROBLEM : BACK TICK WERE NOT WORKING
// FIX: https://github.com/withastro/compiler/commit/e647b594fb8326f1dda20d824ddacdc53d7c27e9
      // <li>{ Buffer.from(person.photo.data.data, 'binary').toString('base64')}</li>
      // <li><img src={Buffer.from(person.photo.data.data, 'binary').toString('base64')} width="80px"/>
      //   </li>
      // <li><img src={person.photo.contentType} width="80px"/>
      //   </li>

		))
	  }
	</ul>
   <!-- <p>DATA[0].PHOTO.DATA no base64</p>
    <img id="myTarget" src="http://localhost:4321/2cca6d8e-6db9-4925-8d91-1fdb2edacde3"/>
    </div>
   <p>DATA[0].PHOTO.DATA buildimage</p>
    <img src={buildimage} />
    </div> -->


  <div>
    <p>DATA[0].PHOTO.DATA</p>
    <img src="data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iODAwcHgiIHdpZHRoPSI4MDBweCIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDUwNS4wODcgNTA1LjA4NyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBkPSJNNDg4LjkwOSw0MTguMzkyYy0zNC44NC0yNy4yMTktMy4yNjYtOTMuNjMyLTMuMjY2LTkzLjYzMmM2My4xNDctMTYxLjEzNC00Ni4xMDgtMjQyLjMwNy02NC43ODgtMjUyLjg4Nw0KCWMtMzguMDMzLTIxLjU0MS0xMjguNDk3LTQyLjY0OC0xNzQuMTY2LDE1LjMxOWMtMTIuOTE2LDE2LjM5NC04LjU5OSwzNi43NTQtMi42NTQsNTAuOTg0DQoJYzE1LjMwMiwzNi42MTgsNTYuNDM2LDY5LjU0NCw5MS42OTMsNzMuMzg4YzEwLjA1NCwxLjEyMywxNy4zNzctMS4xODIsMjIuMzM2LTYuOTU4YzE1Ljc2MS0xOC4zNDcsNy40NTEtNjYuNjE4LDIuOTA5LTgzLjY3Mg0KCWMtMS4yMzMtNC42NDQsMS41MzEtOS40MTYsNi4xODQtMTAuNjU4YzEuMzQxLTAuMzU2LDIuNjY0LTAuMywzLjkzOC0wLjA0MWMzLjE0MiwwLjYzNyw1Ljg0MiwyLjkwOSw2LjcyLDYuMjI1DQoJYzEuOTA1LDcuMTc5LDE3Ljk1Niw3MC45OTgtNi41MzIsOTkuNTAxYy01LjQwMSw2LjI4Ni0xNS4wMDQsMTMuMjg2LTMwLjk3LDEzLjI4NmMtMi4wNSwwLTQuMjEtMC4xMTktNi40NzMtMC4zNjYNCgljLTQxLjU5My00LjU0Mi04OC4wOTUtNDEuNDMyLTEwNS44OC04My45OTVjLTQuNDc1LTEwLjcwOC02LjcwNy0yMS4wNjUtNi45NDgtMzAuODM1Yy05OS43MjgsMC0yMTMuNTc1LDU1LjU5Ni0yMjAuOTkxLDE1NS41OTcNCgljLTAuMjM4LDMuMjA4LDEuNzM1LDYuMTY3LDQuNzg5LDcuMTc5YzMuMDU0LDEuMDIxLDYuNDEzLTAuMTY5LDguMTQtMi44ODJjNi4xMjQtOS42MTYsMTMuNzUtMjAuMDI3LDIxLjMyNS0yNi41ODUNCgljMS4wODcsMTUuNzQ5LDUuODcxLDMwLjc5NiwxNC4xMzYsNDQuNTMyYzE2LjU1MiwyNy41MDgsMjUuMzksNTkuMDk4LDI1LjM5LDkxLjE5OGwwLjE1OCw1OS4yNTMNCgljMC44NDMsNy4yNjEsMTcuOTk1LDEzLjA2NSwzOS4xODEsMTMuMDY1YzIxLjE5NCwwLDM4LjM0Ni01LjgwNCwzOS4xOS0xMy4wNjVsMC4xNTgtMzguNDU1YzAtMTAuMDk2LDQuMjEtMTkuNzQyLDExLjYxLTI2LjYxNg0KCWM3LjQtNi44NzMsMTcuMzE2LTkuNjI4LDI3LjQxMy05LjYyOGM2LjI2MywwLDE5LjA3OSwwLjAwOSwxOS44MjgsMGM5LjY4OC0wLjEwMSwxOS4wMTksNC4zMzcsMjUuODk5LDExLjE1OQ0KCWM2Ljg5LDYuODIyLDEwLjc2MSwxNi4xMSwxMC43NjEsMjUuNzk5bDAuMTU4LDM3Ljc0YzAuODQzLDcuMjYxLDE3Ljk5NCwxMy4wNjUsMzkuMTgxLDEzLjA2NWMyMS4xOTQsMCwzOC4zNDYtNS44MDQsMzkuMTktMTMuMDY1DQoJbDAuMTU4LTMzLjIxNWMwLTk4LjU5OSw3Mi4yNTQtMTQyLjU5OCw4MC44MzktMTQ3LjgxNGM0Mi42MDYtMjUuODg2LDIzLjY4LDUyLjU1NywyMy42OCw1Mi41NTcNCgljLTI4LjMwNyw4OC4xODgsMzcuMDE3LDEyOC40NzIsMzcuMDE3LDEyOC40NzJsMC4yOTMtMC4zMzljMC4yMDQsMC4yMDgsMC4yNjIsMC41NDQsMC40OTgsMC43MjINCgljNC4xODQsMy4xNTUsMTEuNzk5LDAuMTI4LDE2Ljk5NS02Ljc3OWM0Ljc5Mi02LjM0LDUuNjY4LTEzLjU2NCwyLjU2OS0xNy4xNzFMNDg4LjkwOSw0MTguMzkyeiIvPg0KPC9zdmc+" width="80px" />

  </div>

  <div>
    <img src="data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iODAwcHgiIHdpZHRoPSI4MDBweCIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDQ5Ni4zOTQgNDk2LjM5NCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBkPSJNMzk5LjY4NiwxMDguNDhjLTAuOTU0LTMuMDk0LTMuMjgtNS40NTYtNi4yMi02LjI3OGMtMTAuMTAyLTIuODU0LTE4LjU2Ni0xMC4xNjItMjMuMjIyLTIwLjA4Mw0KCWMtMC43OTQtMS42NzQtMS42NS0zLjI5LTIuNjAxLTQuODY2Yy00LjA0MS02LjY4OS0xMC4wMzctMTEuNzMxLTE3LjA2NC0xNC40MmMtNi41MjktMi40OTctMTEuMDY4LTYuMjc4LTE1LjI4NS05Ljk3Ng0KCWMtMC40NTMtOC44NjMtMi4yOTQtMzMuNDE1LTkuMzIyLTUwLjIxMmMtMC41NS0xLjMxNy0xLjcxMy0yLjI3LTMuMDg2LTIuNTU1Yy0xLjQwOC0wLjI5MS0yLjg0NiwwLjEzOS0zLjg3OSwxLjEyNA0KCWMtNi44MzYsNi42NzItMTkuNzkzLDIyLjEyMi0yNS44MzgsNDYuNjQ5Yy0yNi42OTEsMTIuMjA3LTM0LjY5LDM4LjIzNy0zNC42OSw1Ni4yMzljMCw1LjU5LDEuMTYsMTAuODgyLDIuODI4LDE1Ljk2Mw0KCWMtMTMuMzMyLDYuMjItMjYuMDgyLDE5LjQ2LTM4LjA4NCw0MC42NjlsLTYxLjY2Miw3NC4xNzVsMC4wMzMsMC4wMTVjLTIzLjM4MSwyMS4zNzItMzkuMDIxLDU5LjYyMy0zOS4wMjEsMTAzLjQwNA0KCWMwLDkuMTM5LDAuODEsMTcuNDY2LDIuMDgzLDI1LjI4Yy0wLjI3MiwwLjM4Ni0wLjY5LDAuNjE1LTAuOTM2LDEuMDM0Yy0yMC4xNDYsMzMuMzItMTcuODg2LDI5LjY0Ny0yMi42MTksMzkuODA2DQoJYy05LjQ0LDI1LjI0MS00LjE3NSw1MS45OTgsMTAuNTgzLDY3LjM0YzIwLjE1LDIwLjk0OSw0MS43ODUsMjUuMDMxLDQ5LjYzOCwyNC41NjFjMTUuOTk4LDAuMjcxLDEzLjAwOSwwLjI3Myw5OC4xNDMtMjguNDIyDQoJYzUuNjM3LTEuOSw4Ljg1NC03LjkwMSw3LjIzNi0xMy42ODJjLTEuNjQ1LTUuOTc1LTcuODY5LTkuNDY2LTEzLjg0NC03Ljc5NWMtODUuNzkzLDI0LjA0NS04My4zMjYsMjQuNzM4LTk3LjI3MywyMS4wNTUNCgljLTEuMTk3LTAuNDExLTQ1LjU3OC0yMC4zOTktMTUuNzU1LTY0LjEzYzE0LjMsMjEuMTgzLDM2LjE5NiwzMS44OTQsNjEuMTQsMzIuNzY4djAuMjloOTAuMjk1YzcuMTI0LDAsMTIuOTI0LTQuNzYsMTIuOTI0LTEwLjYzMQ0KCWMwLTkuMzI0LTUuMDcyLTE4LjE2Mi0xMy44MTUtMjQuMDY4Yy00LjA2OS0yLjc2My04Ljc4OC00LjY3Ny0xMy43NDktNS44MzVjNi4zODMtMTEuMTA4LDEwLjc5NS0yNC42LDEyLjYzNy00MC41M2wyNC41NTksNzYuNzQxDQoJYzAuODg4LDIuNTg4LDMuMzMsNC4zMjQsNi4wNjIsNC4zMjRoNDIuMDU4YzguMjA3LDAsMTQuODY1LTQuNzY4LDE0Ljg2NS0xMC42MjRjMC05LjMzMi01LjgzLTE4LjE1NS0xNS44OTgtMjQuMDc2DQoJYy01LjkzLTMuNDk4LTEzLjAwNy01LjU5MS0yMC40MjYtNi40ODlsLTEwLjY0NS0zOS40OWwtNS4xNzItODcuNjM0YzIwLjM1OS0yMS40NDEsMzMuMDI0LTQ1LjUzMiwyNC41NDUtOTAuODQ4DQoJYy0zLjk0NS0yMC45NzEsMTAuNjMxLTMwLjYzNCwxMy4zNDYtMzIuMjQzYzIuNDU2LTAuODQ4LDQuOTEtMS43ODcsNy4zNjctMi41MjljMy44MTQtMS4xNTQsNy42NjItMi43OTUsMTEuMzI1LTUuMjgxDQoJYzIuMjE4LTEuNTE0LDEwLjEzMi03LjIyNSwxNi43OS0xOS44MDNDMzk5LjUyMSwxMTQuNTk1LDQwMC42MDYsMTExLjU1OSwzOTkuNjg2LDEwOC40OHoiLz4NCjwvc3ZnPg==" width="80px" />
  </div>

<!-- 
  "photo": {
    "contentType": "image/jpeg",
    "data": {
      "$binary": {
        "base64": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRQBAwQEBQQFCQUFCRQNCw0UFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFP/CABEI -->