---
const response = await fetch('http://localhost:3000/api/users')

const data = await response.json();
--- 
<style>
  .recipe-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    
    @media (max-width: 580px) {
    .recipe-list {
      display: block;
    }
    }
    
    
    
    
    .recipe-card {
    width: 31%;
    min-width: 240px;
    margin: 1%;
    border: 1px solid rgba(160,160,160,0.2);
    background: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
    
    
    .recipe-card-content {
    padding: 16px;
    }
    
    
    .recipe-card-image {
    overflow: hidden;
    height: 50%;
    }
    
    .recipe-card img {
    width: 100%;
    max-height: 250px;
    }
    
    .recipe-title {
    margin: 0;
    }
    
    
    
    
    
    
    .recipe-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 7px solid #2c3e50;
    }
    
    .recipe-form input[type=text] {
      padding: 5px 8px;
      box-sizing: border-box;
    }
    
    .recipe-form-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    }
    
    .recipe-form-line input {
    margin-left: 15px;
    }
    
    .buttons {
    color: white;
    background-color: #2c3e50;
    border-radius: 6px;
    padding: 0 10px 1px 10px;
    margin: 8px 0;
    align-self: flex-end;
    font-size: 1.1em;
    }
    
    .close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.9em;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    align-self: flex-end;
    }
    
    .recipe-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    </style>
<!-- <ul class="p-auto mx-auto w-9/12"  >
      {
        data.map((person) => (   

          <li class="flex-col pt-3 pb-3 text-lg sm:pl-10 md:flex  hover:bg-indigo-500 font-semibold border-[1vw] justify-items-center ">
            <img class="border-[1vw] " src={`data:${person.photo.contentType};base64, ${Buffer.from(person.photo.data.data, 'binary').toString('base64')}`} alt={person.photo.contentType} width="80px"/>
          <span class="m-2">{person._id}</span>         
          <span class="m-2">{person.name}</span> 
          <span class="m-2">{person.email}</span>
          </li>
        ))
      }
 </ul> -->
 <!-- https://nerdcave.com/tailwind-cheat-sheet -->
<!-- AS IN RECIPE -->
<div class="flex-row flex-wrap ">
  <div class="border-1 border-gray-200 sm:w-4/12 md:2/12">
    {
    data.map((person) => (
    <div class="max-w-10/11 sm:max-w-md "><img src={`data:${person.photo.contentType};base64,
        ${Buffer.from(person.photo.data.data, 'binary' ).toString('base64')}`} alt={person.photo.contentType}
       >
    </div>
    <div class="text-semibold p-6">
      <h3 class="text-tahiti text-semibold">{person._id}</h3>
      <h4>{person.name}:</h4>
      <h4>{person.email}:</h4>
      
     
      <div><a href={`/posts/${person._id}`}>
      <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-gray shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 text-white focus-visible:outline-indigo-600">Newsfeed</button>
      </a></div>
      
      <div><a href={`http://localhost:3000/api/v2/posts/by/${person._id}`}> 
     
      <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-gray shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 text-white focus-visible:outline-indigo-600">Newsfeed</button>
      </a></div>
      
      <hr>
    </div>
    ))
    }
  </div>
</div>



	