---
const response = await fetch('http://localhost:3000/api/users')

const data = await response.json()
--- 
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
<h1>AS TABLE</h1>

<div style="overflow-x: auto" class="font-semibold">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
  </tfoot>
    <tbody>
      {
        
        data.map((person) => (
          
        <tr>
          <td><img src={`data:${person.photo.contentType};base64, ${Buffer.from(person.photo.data.data, 'binary').toString('base64')}`} alt={person.photo.contentType} width="80px"/></td>
          <td>{person._id}</td>
          <td>{person.name}</td>  
          <td>{person.email}</td>
        </tr>
    
        ))
        }
        
    </tbody>
  </table>
</div>


	