---
const response = await fetch('http://localhost:3000/api/users')

const data = await response.json()
--- 
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
<h1>AS TABLE</h1>

<div style="overflow-x: auto">
  <table>
    <thead>
        <tr>Image</tr>
        <tr>ID</tr>
        <tr>Name</tr>
        <tr>Email</tr>
        <tr>Password</tr>
    </thead>
   
    <tbody>
      <tr>
      {
        
        data.map((person) => (
          
          <tr>{person._id}</tr>
          <tr>{person.name}</tr>   
          <tr>{person.email}</tr>
          <tr><img src={`data:${person.photo.contentType};base64, ${Buffer.from(person.photo.data.data, 'binary').toString('base64')}`} alt={person.photo.contentType} width="80px"/></tr>
    
        ))
        }
        </tr>
        <tfoot>
          <tr>Image</tr>
          <tr>ID</tr>
          <tr>Name</tr>
          <tr>Email</tr>
          <tr>Password</tr>
      </tfoot>
    </tbody>
  </table>
</div>


	